.relatedproducts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;
}
.related-products-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}